= render :partial => '/widgets/users_last_updated', :locals => {:users => User.new_comers, :direction => :users_incoming}
= render :partial => '/widgets/users_last_updated', :locals => {:users => User.new_outers, :direction => :users_outgoing}
= render :partial => '/widgets/blog_archives'

