#survey_modal.modal.hide
  .modal-header
    %a.close{:data=>{'dismiss'=>'modal'}}
      = '×'
    %h3= "Pour ou contre l'organisation de combat de poissons combattants à la cordée ?"

  .modal-body
    #wait
      %img{:src=>'/assets/round_progress_alpha.gif'}

