.span10
  %h1= 'Dashboard'
  /%p= t(:hello)
  /%a{:href=>'#', :rel=>'tooltip', :data=>{'original-title'=>"un bidule qui apparait !"}}
  /  = "et là y'a un lien ?"
  /%br
  /%br
  /= submit_tag "Envoyer !", :class=>'btn btn-warning'

