.span11#dashboard
  .left
    /= render :partial  => '/widgets/birthdays'
    = render :partial  => '/widgets/headline'
    = render :template => '/blog/index'

  .right
    = render :partial => 'right_column'

