.row       
  .col-md-11.col-md-offset-1.last_updated.side-block
    = render :partial => '/widgets/new_comers' 
    .clearfix

.row
  .col-md-11.col-md-offset-1.last_updated.side-block.mt-20
    = render :partial => '/widgets/blog_categories'
    .clearfix

.row
  .col-md-11.col-md-offset-1.last_updated.side-block.mt-20
    = render :partial => '/widgets/blog_archives'
    .clearfix