.row       
  .col-md-12.last_updated.side-block
    = render :partial => '/widgets/members_tags' 
    .clearfix

  .col-md-12.last_updated.side-block.mt-20
    = render :partial => '/widgets/members_activities'
    .clearfix