.row       
  .col-md-12.last_updated.side-block
    = render :partial => '/widgets/new_comers' 
    .clearfix

  .col-md-12.last_updated.side-block.mt-20
    = render :partial => '/widgets/blog_categories'
    .clearfix