.span2.show-grid.columns#main_menu
  .tabbable.tabs-left
    %ul.nav.nav-tabs
      - tabs.each do |tab|
        %li{:class=>('active' if params[:controller] == tab[:controller])}
          %a{:href=>"/#{tab[:controller]}"}
            %i{:class=>tab[:icon]}
            = t(tab[:name])

