%h3= "Dernières photos ajoutées"
%hr
- Gallery.last_pictures.each do |picture|
  .col-md-2
    .row
      .col-md-11.center.gallery-thumbnail
        %a{:href => "#{picture.image.thumb('500x500').url}", :rel=>"lightbox[gallery]"}
          = image_tag picture.image.thumb('100x100').url

.clearfix
= link_to "Toutes les galeries", galleries_path, :class => 'readmore pull-right mt-10 mb-10'



