%h3= "Rechercher par secteur d'activité"
%hr
%ul
  - tag_cloud(Member.tag_counts_on(:skills), %w(cloud3)) do |tag, css_class| 
    %li
      %a{ :href => '#', 'data-do' => 'filterBySkill', 'data-skill-id' => tag.id }= tag.name