%h3= "Rechercher par statut"
%hr
%ul
  - tag_cloud(Member.tag_counts_on(:status), %w(cloud3)) do |tag, css_class| 
    %li
      %a{ :href => '#', 'data-do' => 'filterByStatus', 'data-status-id' => tag.id}= tag.name
  
