body {
  background:url(/assets/bg_body.jpg);
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: bottom;
}
#sky_bg {
  width: 100%;
  height: 130px;
  background:url(/assets/bg_sky.png);
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: top;
  top: 0;
}
h1 {
  font-family: Georgia, 'Palatino Linotype', Impact;font-size:50px;font-style:italic;color:#2f2f2f;
}
h2 {
  font-family: Georgia, 'Palatino Linotype', Impact;font-size:30px;font-style:italic;color:#2f2f2f;
}
table tr th {
  text-align:left;
}
.left {
  float:left;
}
.right{
  float:right;
}
#top_bar {
  width:100%;
  height:40px;
  background:url(/assets/alpha_bg_60.png);
  position:fixed;
  top: 0;
  -moz-box-shadow: 0px 0px 20px 3px #2f2f2f;
  -webkit-box-shadow: 0px 0px 20px 3px #2f2f2f;
  -o-box-shadow: 0px 0px 20px 3px #2f2f2f;
  box-shadow: 0px 0px 20px 2px #2f2f2f;
}
#top_bar .container {
  background:none;
  padding:0;
  width:960px;
}
#main.container {
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#fff));
  background: -moz-linear-gradient(top,#f0f0f0,#fff);
  background-color:#fff;
  background-color:#fff;
  padding:70px 10px 10px 10px;
  width:940px;
  margin-top: -130px;
}
.clear {
  clear:both;
  height:0;
  width:100%;
}
#login_box {
  border:1px solid #d4d4d4;
  margin-top:10px;
  padding-top:20px;
  padding-bottom:20px;
  padding-left:40px;
  -moz-box-shadow: 0px 0px 20px 3px #111;
  -webkit-box-shadow: 0px 0px 20px 3px #111;
  -o-box-shadow: 0px 0px 20px 3px #111;
  box-shadow: 0px 0px 20px 3px #111;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#fff));
  background: -moz-linear-gradient(top,#f0f0f0,#fff);
  background-color:#fff;
}
#login_box * {
  float:left;
  text-align:left;
}
#logout{
  background:url(/assets/cross_gs.png) left no-repeat;
}
#logout:hover{
  background:url(/assets/cross.png) left no-repeat;
}
#top_bar a, #top_bar span {
  color:#9f9f9f;
}
#top_bar a:hover {
  color:#fff;
  text-decoration: none
}
#avatar {
  float:left;
  width:32px;
  height:32px;
  padding:2px;
  background-color:#fff;
  overflow:hidden;
  margin-top:2px;
}
#profil_link {
  margin:10px auto auto 10px;
  float:left;
}
#profil_link a {
  text-decoration: none;
}
ul#main_menu {
  float:right;
}
ul#main_menu li {
  float:left;
  margin-left:10px;
  list-style-type:none;
}
ul#main_menu li a {
  display:block;
  height:25px;
  padding:10px 10px 5px 10px;
}
ul#main_menu li a:hover {
  background-color:#444;
}
#search_for_members {
  width:750px;
  height:60px;
  padding:10px 10px 10px 5px;
}
#search_for_members input[type='text'] {
  width:420px;
  height:20px;
  float:left;
  margin-right:10px;
}
#search_for_members .btn {
  width:100px;
  height:auto;
  overflow:hidden;
  float:left;
}
a.label {
  padding:5px;
  color:#dfdfdf;
}
a.label-important:hover{
  color:#fff;
}
#new_user_form {
  width:800px;
  margin:0;
}
#edit_user_form {
  width:270px;
  margin:0 auto;
}
#new_user_form .left {
  margin-right:20px;
}
.member_resume{
  width:110px;
  height:135px;
  padding:0px;
  margin:10px 1px 0 6px;
  -moz-box-shadow: 0px 0px 10px 0px #d4d4d4;
  -webkit-box-shadow: 0px 0px 10px 0px #d4d4d4;
  -o-box-shadow: 0px 0px 10px 0px #d4d4d4;
  box-shadow: 0px 0px 10px 0px #d4d4d4;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color:#fff;
  float:left;
}
.member_resume .avatar {
  width:100px;
  height:100px;
  margin:5px;
  padding:0px;
  overflow:hidden !important;
  -moz-box-shadow: 0;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  text-align:center;
}
.member_resume .avatar img {
  margin:auto;
  width:100px;
  height:100px;
}
.member_resume .avatar img:hover {
  margin:0;
  width:102px;
  height:102px;
}
.member_resume .avatar:hover {
  width:102px;
  height:102px;
  margin:4px;
  padding:0;
}
.member_resume span {
  margin-left:5px;
}
#details textarea {
  width:560px;
  height:38px;
}
#error_modal h3 {
  color:red;
}
.hr {
  padding-top:10px;
  margin-bottom:10px;
  border-bottom:1px solid #d4d4d4;
}
a.dotoggle {
  font-size:20px;
}
input#member_presence {
  width:570px;
}
.span3 .avatar {
  text-align:right;
}
.labels {
  width:200px;
  padding-top:20px;
  font-weight:bold;
  text-align:right;
}
#mail_password_editor {
  width:340px;
  height:60px;
  padding:0px;
  float:right;
  margin:5px 20px auto auto;
}
td.social_profiles {
  padding-top:30px;
}
.social_profiles a:first-child {
  margin-left:20px;
}
.social_profiles a {
  margin-right:5px;
}
#baseline {
  height:20px;
  padding:5px 0;
  border-top:1px solid #d4d4d4;
  font-size:20px;
  width:600px;
}
#description, #mail_me {
  color:#666;
  font-size:14px;
  padding:5px 0;
}
.social_networks {
  width:270px;
  float:left;
  margin-left:20px;
}
.social_networks img {
  float:left;
  margin-right:10px;
}
#email_form {
  width:530px;
  padding:0;
  text-align:left;
}
#details {
  width:560px;
  margin-left:260px;
  text-align:left;
}
#details table {
  float:left;
  margin-left:-280px;
  width:860px;
  table-layout: fixed;
}

#details table tr td:first-child {
  width:260px;
  text-align:right;
}
#details table tr td:first-child p {
  margin-right:20px;
  font-weight:normal;
  font-style:italic;
}
.editor table tr td:first-child p {
  padding-top:5px;
}
#details table tr td {
  text-align:left;
  vertical-align:top;
  width:600px;
}
#details table tr td p {
  margin-left:20px;
}
#dashboard {
  width:960px;
  margin:0px auto auto 5px;
}
#ads {
  width:600px;
}
#ads #categories ul {
  float:left;
  margin:10px auto auto 5px;
}
#ads #categories {
  height:35px;
  width:580px;
  border-bottom:1px solid #2f2f2f;
  margin:0 auto 10px 2px;
  padding-bottom:0;
}
#ads #categories ul li {
  height:16px;
  float:left;
  list-style-type:none;
  margin:0 !important;
}
#ads #categories ul li a {
  padding:7px 10px;
  text-decoration:none;
}
#ads #categories ul li a#active {
  padding:8px 10px;
  background-color:#2f2f2f;
  color:#fff;
}
#ads #categories ul li a:hover {
  padding:8px 10px;
  background-color:#d4d4d4;
  color:#fff;
}
#toggle_ad_creator {
  float:right;
  color:#fff;
}
.ad {
  width:560px;
  padding:10px;
  margin-bottom:10px;
  border:1px solid #d4d4d4;
  background-color:#fff;
  -moz-box-shadow: 0px 0px 10px 0px #d4d4d4;
  -webkit-box-shadow: 0px 0px 10px 0px #d4d4d4;
  -o-box-shadow: 0px 0px 10px 0px #d4d4d4;
  box-shadow: 0px 0px 10px 0px #d4d4d4;
}
.ad h3 {
  font-size:16px;
  font-family:Georgia, 'Times new';
  border-bottom:1px solid #d4d4d4;
  margin-left:5px;
  line-height:33px;
}
.ad .avatar {
  float:left;
  width:44px;
  height:34px;
  background-color:#fff;
}

.ad .action_bar {
  padding-top:5px;
  border-top:1px solid #d4d4d4;
}
.ad .action_bar a {
  float:right;
}
.ad .action_bar span {
  line-height:12px !important;
  margin:0 !important;
  padding:0 !important;
}
#occupation {
  width:340px;
  height:120px;
  margin-right:20px;
}
#occupation #gauge{
  background:url('/assets/gauge.png') left no-repeat;
  width:338px;
  height:45px;
  padding-top:5px;
}
#occupation span {
  line-height:12px !important;
  font-size:11px !important;
}
#rate {
  width:40px;
  height:31px;
  background:url('/assets/alpha_bg_60.png');
  margin:0px;
  padding-top:10px;
  color:#fff;
  text-align:center;
}
#occupation #top select {
  width:150px;
}
a.occupation {
  color:#d4d4d4;
  text-decoration:none;
  cursor:default;
}
#last_ones {
  width:360px;
  height:110px;
}
#last_ones h2, #survey h2 {
  float:right;
  display:block;
  width:351px;
  height:45px;
  padding-left:10px;
  color:#fff;
  font-size:16px;
  background:url('/assets/ribbon.png') top right no-repeat;
  text-shadow: -1px -1px #555;
}
#last_ones a {
  display:block;
  width:50px;
  height:50px;
  text-decoration:none;
  margin-right:7px;
  float:left;
}
#survey {
  width:360px;
}
#survey p.well{
  clear:both;
  width:317px;
  padding:8px;
  margin-left:0;
  font-weight:normal;
  font-style:italic;
}
#survey ul {
  margin-left:0;
}
#survey ul li {
  list-style-type: none;
  margin-left:5px
}
#dashboard span {
  color:#999;
  line-height:20px;
}
#survey a {
  display:block;
  margin-bottom:10px;
}
#older_surveys {
  margin-top:10px;
  border-top:1px solid #d4d4d4;
  width:325px;
}
#older_surveys span {
  color:#333;
  line-height:40px;
}
.modal-body .result {
  background-color:#a7cc49;
  height:20px;
  width:300px;
  padding: 5px;
  color:#fff;
  font-weight:bold;
  margin-top:10px;
  -moz-box-shadow: inset 0px 0px 5px 0px #656565;
  -webkit-box-shadow: inset 0px 0px 5px 0px #656565;
  -o-box-shadow: inset 0px 0px 5px 0px #656565;
  box-shadow: inset 0px 0px 5px 0px #656565;
}
.modal-body span {
  font-style:italic;
}
.modal-body #wait {
  text-align:center;
  padding-top:50px;
  padding-bottom:50px;
}
table#locations_mgt input {
  width:180px;
}
table#survey_mgt tr td input {
  width:300px;
}
table#survey_mgt tr td:last-child input {
  width:30px;
}
#new_content input[type='text'], #new_content textarea {
  width:870px;
}
#new_content textarea {
  height:200px;
}
#contents input[type='text'], #contents textarea {
  width:870px;
}
#contents {
  margin-bottom:20px;
  clear:both;
}
#contents textarea {
  height:200px;
}
#bottom_margin {
  height:30px;
}
#footer {
  clear:both;
  height:30px;
  padding-top:5px;
  width:960px;
  margin:0 auto;
  background-color:#fff;
  color:#afafaf;
  text-align:center;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#footer a {
  color:#afafaf;
  text-decoration:underline;
}
.footer_spacer {
  height:40px;
}
table#stats tr th {
  border-bottom:1px solid #d4d4d4;
}
#results h4 {
  font-size:14px;
  border-bottom:1px solid #d4d4d4;
  padding-bottom:5px;
  margin-bottom:5px;
  margin-top:5px;
}
#creation_modal {
  width:770px;
  margin-left:-385px;
  overflow:hidden;
}

