body
  background: #e5f8a9 url(/assets/bg_body_wide.jpg)
  background-repeat: repeat-x
  background-attachment: fixed
  background-position: bottom

#sky_bg
  width: 100%
  height: 130px
  background: url(/assets/bg_sky_2.png)
  background-repeat: repeat-x
  background-attachment: fixed
  background-position: top
  top: 0

h1
  font-family: Georgia, 'Palatino Linotype', Impact
  font-size: 50px
  font-style: italic
  color: #2f2f2f

h2
  font-family: Georgia, 'Palatino Linotype', Impact
  font-size: 30px
  font-style: italic
  color: #2f2f2f

table th
  text-align: left

.orange
  background-color: #ffa200
  a
    color: #000 !important

.left
  float: left

.right
  float: right

.delete
  background: url('/assets/cross.png') left no-repeat
  padding-left: 20px
.loading
  margin: 25px auto 25px 240px
  width: 55px
  height: 55px
#top_bar
  position: relative
  z-index: 10000
  width: 100%
  height: 40px
  background: url(/assets/alpha_bg_60.png)
  position: fixed
  top: 0
  -moz-box-shadow: 0px 0px 20px 3px #2f2f2f
  -webkit-box-shadow: 0px 0px 20px 3px #2f2f2f
  -o-box-shadow: 0px 0px 20px 3px #2f2f2f
  box-shadow: 0px 0px 20px 2px #2f2f2f
  .container
    background: none
    padding: 0
    width: 960px

#main.container
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(white))
  background: -moz-linear-gradient(top, #fafafa, white)
  background-color: #fff
  background-color: #fff
  padding: 70px 10px 10px 10px
  width: 940px
  margin-top: -130px
  min-height: 500px

.clear
  clear: both
  height: 0
  width: 100%

#login_box
  border: 1px solid #d4d4d4
  margin-top: 10px
  padding-top: 20px
  padding-bottom: 20px
  padding-left: 40px
  -moz-box-shadow: 0px 0px 20px 3px #111
  -webkit-box-shadow: 0px 0px 20px 3px #111
  -o-box-shadow: 0px 0px 20px 3px #111
  box-shadow: 0px 0px 20px 3px #111
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(white))
  background: -moz-linear-gradient(top, #f0f0f0, white)
  background-color: #fff
  *
    float: left
    text-align: left

#logout
  background: url(/assets/cross_gs.png) left no-repeat
  &:hover
    background: url(/assets/cross.png) left no-repeat

#top_bar
  a, span
    color: #cfcfcf
  a:hover
    color: #fff
    text-decoration: none

#avatar
  float: left
  width: 43px
  height: 32px
  padding: 2px
  background-color: #fff
  overflow: hidden
  margin-top: 2px

#profil_link
  margin: 10px auto auto 10px
  float: left
  a
    text-decoration: none

ul#main_menu
  float: right
  li
    float: left
    margin-left: 10px
    list-style-type: none
    a
      display: block
      height: 25px
      padding: 10px 10px 5px 10px
      &:hover
        background-color: #444

#error_modal h3
  color: red

.hr
  padding-top: 10px
  margin-bottom: 10px
  border-bottom: 1px solid #d4d4d4

a.dotoggle
  font-size: 20px

.span3 .avatar
  text-align: right

.labels
  width: 200px
  padding-top: 20px
  font-weight: bold
  text-align: right

#dashboard
  width: 960px
  margin: 0px auto auto 5px

#dashboard span
  color: #999
  line-height: 20px

.modal-body
  .result
    background-color: #a7cc49
    height: 20px
    width: 300px
    padding: 5px
    color: #fff
    font-weight: bold
    margin-top: 10px
    -moz-box-shadow: inset 0px 0px 5px 0px #656565
    -webkit-box-shadow: inset 0px 0px 5px 0px #656565
    -o-box-shadow: inset 0px 0px 5px 0px #656565
    box-shadow: inset 0px 0px 5px 0px #656565
  span
    font-style: italic
  #wait
    text-align: center
    padding-top: 50px
    padding-bottom: 50px

table
  &#locations_mgt input
    width: 180px
  &#survey_mgt td
    input
      width: 300px
    &:last-child input
      width: 30px

#new_content
  input[type='text']
    width: 870px
  textarea
    width: 870px
    height: 200px

#contents
  input[type='text']
    width: 870px
  textarea
    width: 870px
    height: 200px
  margin-bottom: 20px
  clear: both

#bottom_margin
  height: 30px

#footer
  clear: both
  height: 30px
  padding-top: 5px
  width: 960px
  margin: 0 auto
  background-color: #fff
  color: #afafaf
  text-align: center
  -webkit-border-bottom-right-radius: 10px
  -webkit-border-bottom-left-radius: 10px
  -moz-border-radius-bottomright: 10px
  -moz-border-radius-bottomleft: 10px
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px
  a
    color: #afafaf
    text-decoration: underline

.footer_spacer
  height: 40px

table#stats th
  border-bottom: 1px solid #d4d4d4

#results h4
  font-size: 14px
  border-bottom: 1px solid #d4d4d4
  padding-bottom: 5px
  margin-bottom: 5px
  margin-top: 5px

#creation_modal
  width: 770px
  margin-left: -385px
  overflow: hidden

.separator
  padding-top: 30px
  border-bottom: 1px solid #d4d4d4
  margin-bottom: 30px
.h-10
  height: 10px
.h-20
  height: 20px
.h-30
  height: 30px
.h-40
  height: 40px
.h-50
  height: 50px
.h-60
  height: 60px
.h-70
  height: 70px
.h-80
  height: 80px
.h-90
  height: 90px
.h-100
  height: 100px

