input#member_presence
  width: 570px

#search_for_members.well
  width: 925px
  height: 90px
  padding: 10px 10px 10px 5px
  input[type='text']
    width: 420px
    height: 20px
    float: left
    margin-right: 10px
  .btn
    width: 100px
    height: auto
    overflow: hidden
    float: left
  p
    display: block
    clear: both
    margin-left: 200px
a
  &.label
    padding: 5px
    color: #dfdfdf
  &.label-important:hover
    color: #fff

#new_user_form
  width: 800px
  margin: 0

#edit_user_form
  width: 270px
  margin: 0 auto

#new_user_form .left
  margin-right: 20px

.member_resume
  width: 110px
  height: 110px
  padding: 0px
  margin: 10px 1px 0 6px
  -moz-box-shadow: 0px 0px 10px 0px #d4d4d4
  -webkit-box-shadow: 0px 0px 10px 0px #d4d4d4
  -o-box-shadow: 0px 0px 10px 0px #d4d4d4
  box-shadow: 0px 0px 10px 0px #d4d4d4
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  background-color: #fff
  float: left
  &:hover
    background-color: #57a02a
    a
      color: #fff !important
  .member_avatar
    width: 100px
    height: 75px
    margin: 5px
    padding: 0px
    overflow: hidden !important
    -moz-box-shadow: 0
    -webkit-box-shadow: none
    -o-box-shadow: none
    box-shadow: none
    -moz-border-radius: 0
    -webkit-border-radius: 0
    border-radius: 0
    text-align: center
  span
    margin-left: 5px

#mail_password_editor
  width: 340px
  height: 60px
  padding: 0px
  float: right
  margin: 5px 20px auto auto

td.social_profiles
  padding-top: 30px

.social_profiles a
  &:first-child
    margin-left: 20px
  margin-right: 5px

form#edit_member
  padding-top: 30px
  label
    font-style: italic

#baseline
  height: 50px
  padding: 5px 0
  border-top: 1px solid #d4d4d4
  font-size: 20px
  width: 600px

#description, #mail_me
  color: #666
  font-size: 14px
  padding: 5px 0

.social_networks
  width: 270px
  float: left
  margin-left: 20px
  img
    float: left
    margin-right: 10px

#email_form
  width: 530px
  padding: 0
  text-align: left

.details
  width: 560px
  margin-left: 260px
  text-align: left
  float: none
  textarea
    width: 560px
    height: 38px
  table
    margin-left: -280px
    width: 860px
    table-layout: fixed
    tr
      td
        text-align: left
        vertical-align: top
        width: 600px
        height: 40px
        padding-left: 10px
    tr td:first-child
      width: 260px
      text-align: right
      padding-top: 5px
      padding-left: 0
      p
        margin: 0 20px
        font-weight: normal
        font-style: italic

.editor p
  padding-top: 5px

.outline
  border: 5px solid #57a02a
  width: 890px
  margin-top: -40px
  p.notice
    font-weight: bold
    float: right
    color: #2f2f2f
    margin-right: 10px
  &.hidden
    margin-top: 10px !important
    border-color: transparent

.admin_member_controls
  text-align: right
  padding-top: 20px
  height: 80px

