body
  background: #fff none !important

input#member_presence
  width: 570px

#api_search_for_members.well
  min-width: 780px
  height: 90px
  padding: 10px 10px 10px 5px
  input[type='text']
    width: 420px
    height: 20px
    float: left
    margin-right: 10px
  .btn
    width: 100px
    height: auto
    overflow: hidden
    float: left
  p
    display: block
    clear: both
    margin-left: 200px
a
  &.label
    padding: 5px
    color: #dfdfdf
  &.label-important:hover
    color: #fff

