.col-md-3.content
  %ul
    - admin_tabs.each do |action|
      %li{:class=>('active' if params[:controller] == "admin/#{action}")}
        %a{:href=>"/admin/#{action}"}
          = t("admin.tabs.#{action}")

