.col-md-3.admin_nav
  .row
    .col-md-11.content
      %ul
        - admin_tabs.each do |action|
          %li{:class=>('ctive' if params[:controller] == "admin/#{action}")}
            %a{:href=>"/admin/#{action}"}
              = t("admin.tabs.#{action}")

