#medias_categories
  .row
    width: 100%
    padding: 10px 0 5px 0
    margin-left: 1px
    vertical-align: top
    border-bottom: 1px solid #d4d4d4
    .col:first-child
      width: 10px
      padding-top: 7px
    .col
      float: left
      padding: 0 10px
      label
        font-weight: bold
        margin-top: 5px
      textarea
        width: 100%
        height: 100px
    .col.w90
      width: 90px
  .category_description
    clear: both

.form-errors
  background-color: red
  padding: 20px
  margin: 10px 0
  color: #fff

.admin_nav
  .content
    padding: 10px
  ul
    list-style-type: none
    padding: 0
    li
      margin: 5px
      padding: 0
      &.active 
        a
          background-color: #2ddcff
          color: #fff 
      a
        display: block
        width: 100%
        height: 100%
        padding: 5px
        &:hover
          background-color: #2ddcff
          color: #fff
          border: 0