#gallery
  .thumbnail
    width: 100px
    height: 100px
    padding: 5px
    border: 1px solid #d4d4d4
    background-color: #fff
    margin: 5px 5px 5px 0
    float: left
    a.delete
      position: absolute
      width: 16px
      height: 16px
      background: url(asset-path('cross.png', image)) left no-repeat
    img
      max-width: 100px
      max-height: 100px
      overflow: hidden

.gallery
  width: 360px
  .thumbnail
    width: 90px
    height: 90px
    padding: 5px
    border: 1px solid #d4d4d4
    background-color: #fff
    margin: 5px 0 5px 5px
    float: left
    img
      max-width: 90px
      max-height: 90px
      overflow: hidden

