.center
  float: none
  margin-left: auto
  margin-right: auto
.ta-r
  text-align: right
.ta-l
  text-align: left
.ta-c
  text-align: center
.mt-10
  margin-top: 10px
.mt-20
  margin-top: 20px
.mt-30
  margin-top: 30px
.mt-40
  margin-top: 40px
.mt-50
  margin-top: 50px
.mb-10
  margin-bottom: 10px
.mb-20
  margin-bottom: 20px
.mb-30
  margin-bottom: 30px
.mb-40
  margin-bottom: 40px
.mb-50
  margin-bottom: 50px
.ml-10
  margin-left: 10px

.modal-open
  margin-right: 0 !important
  .navbar-fixed-top
    margin-right: 0 !important