html 
  position: relative
  min-height: 100%
body 
  margin: 0 0 100px

textarea
  box-shadow: inset 0px 1px 2px 0px #999
  border: 0
  padding: 0px 5px
  max-width: 100%

p, span
  word-wrap: break-word
  text-overflow:ellipsis

a:hover
  border: 0

a.avatar
  display: block
  width: 70px
  height: 70px
  text-decoration: none
  margin-right: 3px
  float: left
  overflow: hidden
  border-radius: 40px
  margin-bottom: 10px
  border: 1px solid #eeeeee
  img
    margin-left: -15px
    overflow: hidden

a.dropdown-toggle
  text-decoration: none !important
  text-decoration: none !important
  border: 0 !important
  span
    line-height: 50px
    margin-left: 10px
    color: #fff
    font-weight: bold

#wide_bg
  position: fixed 
  top: 0 
  left: 0
  min-width: 100%
  min-height: 100%
.header 
  background-color: rgba(51, 51, 51, 0.7)
  border-top: 0
  border-bottom: 0
  position: fixed
  width: 100%
  top: 0
  z-index: 1000
  min-height: 60px

.page-content
  &.blocky
    .container:first-child
      padding-top: 60px

.btn
  border-radius: 2px 
.awidget
  box-shadow: none !important
  border-radius: 0 !important
  border: 0
.side-block
  background-color: #fff
  border: 1px solid #eee
  border-radius: 2px  
.side
  ul
    li 
      border-bottom: 1px solid #eee
      a 
        color: #888
      a:hover 
        color: #333
        background-color: transparent !important
        border-bottom: 0

.last_updated
  padding: 10px

.main-avatar
  display: block
  float: left
  width: 50px
  height: 50px
  border-radius: 50px
  overflow: hidden
  margin: 0 0 0 -5px
  img
    margin: 0px auto auto -5px

.top-me
  margin-left: -10px
  padding-top: 5px

.main-search
  float: left
  .form-control
    width: 280px
    border: 0
    height: 33px
    padding: 5px

.content 
  background-color: #fff
  border: 1px solid #eee
  border-radius: 2px

.well
  border-radius: 0
.delete
  color: red
.read-more
  float: right
  margin-top: 10px
  font-weight: bolder
.modal-errors
  border: 1px solid red
  padding: 20px
  background-color: red
  color: #fff
  display: none
  margin-bottom: 20px
.modal-success 
  border: 1px solid green
  padding: 20px
  background-color: green
  color: white
  margin-bottom: 20px
  display: none
#event_description
  font-weight: bolder
  font-size: 18px
#event_cancel
  color: red
#event_register
  color: green
  font-weight: bolder
footer
  background-color: rgba(0,0,0,0.6)
  padding: 5px 5px 5px 0
  border-top: 1px 
  position: absolute
  left: 0
  bottom: 0
  min-height: 40px
  width: 100%

