h2.ribbon
  float: right
  display: block
  width: 351px
  height: 45px
  padding-left: 10px
  color: #fff
  font-size: 16px
  background: url(asset-path('ribbon.png', image)) top right no-repeat
  text-shadow: -1px -1px #555

#survey a
  display: block
  margin-bottom: 10px

#older_surveys
  margin-top: 10px
  border-top: 1px solid #d4d4d4
  width: 325px
  span
    color: #333
    line-height: 40px

#occupation
  width: 340px
  height: 120px
  margin-right: 20px
  #gauge
    background: url(asset-path('gauge.png', image)) left no-repeat
    width: 338px
    height: 45px
    padding-top: 5px
  span
    line-height: 12px !important
    font-size: 11px !important

#rate
  width: 40px
  height: 31px
  background: url(asset-path('alpha_bg_60.png', image))
  margin: 0px
  padding-top: 10px
  color: #fff
  text-align: center

#occupation select
  width: 150px

a.occupation
  color: #d4d4d4
  text-decoration: none
  cursor: default

#survey
  width: 360px
  p.well
    clear: both
    width: 317px
    padding: 8px
    margin-left: 0
    font-weight: normal
    font-style: italic
  ul
    margin-left: 0
    li
      list-style-type: none
      margin-left: 5px

